.postItem article {
  max-height: 21rem;
}

.postItem article div {
  overflow-y: scroll;
}

.postItem a {
  color: #047857;
}

.postItem a:hover {
  text-decoration: underline;
}

.postItem ul,
.postItem ol {
  padding-left: 1rem;
}

.postItem ul {
  list-style-type: disc;
}

.postItem ol {
  list-style-type: decimal;
}

.postItem h1 {
  font-size: 2rem;
}

.postItem h2 {
  font-size: 1.5rem;
}

.postItem h3 {
  font-size: 1.25rem;
}
