.addPost .ql-toolbar .ql-stroke {
  fill: none;
  stroke: #fff;
}

.addPost .ql-toolbar .ql-fill {
  fill: #fff;
  stroke: none;
}

.addPost .ql-toolbar .ql-picker {
  color: #fff;
}

/* .addPost button:disabled {
  background: #e5e7eb;
  color: #000;
} */

/* TODO: change hover color of rich editor */
